
.grid-container {
    display: grid;
    grid-template-columns:  1fr;
    gap: 16px;
  }
/*   
  .grid-item {
    margin-bottom: 20px; 
  } */
  
  .category-container {
    margin-bottom: 10px; /* Adjust as needed */
   
  }
  
  .card-grid {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    gap: 16px;
    margin-top: -50px;
  }
  
  /* .card {

  } */
  